# LLM
OLLAMA_BASE_URL=http://localhost:1234
OPENAI_API_KEY=sk-...
MODELO_OPEN_WEB_UI=gpt-oss:20b

# MCP servers
MCP_K8S_OPERATIONS_URL=http://localhost:49447/mcp
MCP_JAEGER_URL=http://localhost:58191/mcp
MCP_K8S_LOGS_URL=http://localhost:494/mcp
MCP_PROMETHEUS_URL=http://localhost:52414/sse
MCP_GITHUB_URL=https://api.githubcopilot.com/mcp
MCP_GITHUB_KEY=github-pat-...

# Langfuse (opcional)
LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_BASE_URL=http://localhost:63503/
