OLLAMA_BASE_URL= "http://ollama/api"
OPENAI_BASE_URL= "http://ollama/api"
OLLAMA_API_KEY = "sk-"
OPENAI_API_KEY= "sk-"
LANGFUSE_SECRET_KEY = "sk-"
LANGFUSE_PUBLIC_KEY = "pk-"
LANGFUSE_BASE_URL = "http://localhost:63503/"
MODELO_OPEN_WEB_UI = "gpt-oss:20b"
MCP_K8S_URL = "http://localhost:49447/mcp"
MCP_JAEGER_URL = "http://localhost:49448/mcp"